<template>
  <div>
    <md-dialog
      :md-active.sync="active">
      <md-dialog-title>New Function Wizard</md-dialog-title>
      <md-dialog-content>
      <md-steppers :md-active-step.sync="activeStep" md-linear>
        <md-step id="onName" md-label="Basics" :md-done.sync="onName">
          <div class="md-layout-item md-small-size-100">
            <md-field>
              <label>Name</label>
              <md-input v-model="name" maxlength="30"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100">
            <!--
            <md-field>
              <label>Handler</label>
              <md-input v-model="handler" maxlength="255"></md-input>
            </md-field>
            -->
            <md-field>
              <label>Runtime</label>
              <md-select v-model="runtime" name="runtime" @input="onRuntimeChange">
                <md-option v-for="runtimeEntry in runtimeList" :key="runtimeEntry" :value="runtimeEntry">{{runtimeEntry}}</md-option>
              </md-select>
            </md-field>
          </div>
          <md-button class="md-raised md-primary" @click="setDone('onName')">Create</md-button>
          <md-button class="md-raised md-accent" @click="cancelNewFunction()">Cancel</md-button>
        </md-step>
        <!--
        <md-step id="onCode" md-label="Code" :md-done.sync="onCode">
          <codemirror ref="codeWindow"
                      :value="inputCode"
                      :options="cmOptions"
                      v-on:input="onCmCodeChange"
          ></codemirror>
          <md-button class="md-raised md-primary" @click="setDone('onCode', 'onDeps')">Continue</md-button>
        </md-step>

        <md-step id="onDeps" md-label="Dependencies" md-description="Optional" :md-done.sync="onDeps">
          <codemirror ref="codeWindow2"
                      :value="inputDeps"
                      :options="dependencyCMOptions"
                      v-on:input="onDependencyCmCodeChange"
          ></codemirror>
          <md-button class="md-raised md-primary" @click="setDone('onDeps')">Done</md-button>
        </md-step>
        -->
      </md-steppers>
      </md-dialog-content>
    </md-dialog>

    <!--
      <md-button class="md-primary md-raised" @click="$emit('activate-new-function-dialog', true)">Prompt</md-button>
      -->
  </div>
</template>

<script>
export default {
  name: 'NewFunctionDialog',
  props: [
    'activateDialog',
    'runtimeList',
    'templateOptions',
    'boilerPlate'
  ],
  data () {
    return {
      active: false,
      name: '',
      handler: '',
      runtime: '',
      code: '',
      deps: '',
      activeStep: 'onName',
      onName: false,
      onCode: false,
      onDeps: false,
      inputCode: '',
      inputDeps: '',
      cmOptions: {},
      dependencyCMOptions: {}
    }
  },
  methods: {
    setDone (id, index) {
      if (id === 'onName') {
        this.loadBoilerPlate()
        // console.log({'name': this.name, 'code': this.inputCode, 'deps': this.inputDeps, 'runtime': this.runtime, 'handler': this.handler})
        this.submitNewFunction()
        this.$emit('new-function-created', this.name)
        this.active = false
        return
      }
      this[id] = true
      if (index) {
        this.activeStep = index
      }
    },
    onCmCodeChange (newCode) {
      this.code = newCode
    },
    onDependencyCmCodeChange (newDeps) {
      this.deps = newDeps
    },
    onRuntimeChange (newRuntime) {
      this.loadBoilerPlate()
    },
    getCmOptionsForRuntime (runtime) {
      switch (runtime) {
        case 'go1.10':
          return this.templateOptions['go']
        case 'java1.8':
          return this.templateOptions['java']
        case 'nodejs6':
        case 'nodejs8':
        case 'nodejs_distroless8':
          return this.templateOptions['nodejs']
        case 'php7.2':
          return this.templateOptions['php']
        case 'python2.7':
          return this.templateOptions['python2']
        case 'python3.4':
        case 'python3.6':
          return this.templateOptions['python3']
        case 'ruby2.4':
          return this.templateOptions['ruby']
        default:
          return this.templateOptions['java']
      }
    },
    getDependencyCmOptionsForRuntime (runtime) {
      switch (runtime) {
        case 'go1.10':
          return this.templateOptions['toml']
        case 'java1.8':
          return this.templateOptions['xml']
        case 'nodejs6':
        case 'nodejs8':
        case 'nodejs_distroless8':
        case 'php7.2':
          return this.templateOptions['json']
        case 'python2.7':
        case 'python3.4':
        case 'python3.6':
        case 'ruby2.4':
        default:
          return this.templateOptions['properties']
      }
    },
    getBoilerplateOptionForRuntime () {
      switch (this.runtime) {
        case 'go1.10':
          return this.boilerPlate['go']
        case 'java1.8':
          return this.boilerPlate['java']
        case 'nodejs6':
        case 'nodejs8':
        case 'nodejs_distroless8':
          return this.boilerPlate['nodejs']
        case 'php7.2':
          return this.boilerPlate['php']
        case 'python2.7':
        case 'python3.4':
        case 'python3.6':
          return this.boilerPlate['python']
        case 'ruby2.4':
          return this.boilerPlate['ruby']
        default:
          return this.boilerPlate['go']
      }
    },
    getBoilerplateFunctionNameForRuntime () {
      return 'Sample.DoSomething'
    },
    loadBoilerPlate () {
      // Doing this for now to streamline creation
      this.handler = this.getBoilerplateFunctionNameForRuntime()

      let boilerPlateData = this.getBoilerplateOptionForRuntime()
      let handlerArray = this.handler.split('.')
      let handler = handlerArray[handlerArray.length - 1]
      let className = (handlerArray.length > 1) ? (handlerArray[handlerArray.length - 2]) : ('PLACEHOLDER')
      this.inputCode = boilerPlateData.code.replace('__HANDLER__', handler).replace('__CLASS__', className)
      this.inputDeps = boilerPlateData.deps
    },
    submitNewFunction () {
      this.$emit('notify-user', 'Creating Function ' + this.name)
      this.axios
        .put('/api/v1/function', {
          name: this.name,
          function: {
            deps: this.inputDeps,
            function: this.inputCode,
            handler: this.handler,
            runtime: this.runtime
          },
          http_trigger: {
            gateway: 'nginx',
            hostname: this.name + '.kubeless.ontario.cluster.cnct.io',
            tls: false,
            tls_secret: 'star-kubeless-ontario-tls'
          }
        })
        .then(response => {
          if (response.data.ok === true) {
            this.$emit('notify-user', 'Function ' + this.name + ' has been created!')
          } else {
            this.$emit('notify-user', 'Function ' + this.name + ' has NOT been created!')
          }
        })
    },
    cancelNewFunction () {
      this.active = false
    }
  },
  watch: {
    activateDialog: function (newState) {
      this.name = ''
      this.runtime = ''
      this.code = ''
      this.deps = ''
      if (newState === true) {
        this.active = true
        this.activeStep = 'onName'
      }
    },
    active: function (newState) {
      if (newState === false) {
        this.$emit('closed-new-function-dialog', true)
      }
    },
    runtime: function (newRuntime) {
      this.cmOptions = this.getCmOptionsForRuntime(newRuntime)
      this.dependencyCMOptions = this.getDependencyCmOptionsForRuntime(newRuntime)
    }
  }
}
</script>

<style scoped>
.CodeMirror {
  height: auto;
  width: 300px;
}
</style>
