<template>
    <md-snackbar :md-position="position" :md-duration="isInfinity ? Infinity : duration" :md-active.sync="showSnackbar" md-persistent>
      <span class="mikeSnackbar">{{message}}</span>
    </md-snackbar>
</template>

<script>
export default {
  name: 'BottomSnackbar',
  props: ['incomingMessage'],
  data: () => ({
    showSnackbar: false,
    position: 'center',
    duration: 300,
    isInfinity: false,
    message: 'Hi Mom!'
  }),
  watch: {
    incomingMessage: function (newMessage) {
      this.duration = newMessage.timeout
      this.message = newMessage.message
      this.showSnackbar = true
    }
  }
}
</script>

<style scoped>
</style>
