<div id="app">
  <router-link to="/">Home</router-link>
  <router-view
      v-bind:runtime_list="runtimeList"
      v-bind:function_list="functionList"
      v-bind:pod_log="podLog"
  ></router-view>
</div>
